body{
    background-color: lightgray;
    color: #555;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    line-height: 1.6em;
    margin: 0;
}

.container{
    width: 80%;
    margin: auto;
    overflow: hidden;
}


#main-header{
    background-color: black;
    color: #fff;
}

#navbar{
    background-color: black;
}

#navbar ul{
    padding: 0;
    list-style: none;
}

#navbar li{
    display: inline;
}

#navbar a{
    color: aliceblue;
    text-decoration: none;
    font-size: 18px;
    padding-right: 15px;
}
#group{
    background-position: center right;
    min-height: 300px;
    margin: 30px 50px;
    text-align: center;
    background-color: black;
    color: #fff;
    }
/* see class button funtion*/

#seeClass{
        background-color: red;
        color: #fff;
        margin-top: 50px;
        padding: 15px 50px; 
        border: none;
       
        
    }

#seeClass:hover {
     background: #fff;
    color:black;
     }
 
/* gallery*/

  
.gallery{
    display:flex;
    flex-flow: wrap;
}

.gallery-item{
    flex-grow: 1;
    min-width: 300px;
    background: #eee;
    border:1px solid #fff;
    position: relative;
    padding: 0;
    margin: 0;
}

.gallery-item:before{
    content: "";
    padding-top: 100%;
    display: block;
}

.gallery-item__image{
    display: block;
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

/* what to expect desinge */
#expect h1{
   text-align: center;
    }

#expect{
    float: left;
    width: 70%;
    padding: 30px 30px;
    box-sizing: border-box;
}

#expect2{
    float: right;
    width: 30%;
    padding: 30px 30px;
    box-sizing: border-box;
    color: rgb(0, 0, 0);

}



/* css for schedual*/

#monday{
    text-align: center;
    background-color: white;
    color:white;
    margin: 10px 50px;
    padding: 10px;
    background-image: url(/Users/kyle/Desktop/TSI-website/images/rowbench.jpeg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center; ;
    background-size: cover ;
    
}
#tuesday{
    text-align: center;
    background-color: white;
    color:black;
    margin: 10px 50px;
    padding: 10px;
    background-image: url(/Users/kyle/Desktop/TSI-website/images/rowbench.jpeg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center; ;
    background-size: cover ;
}

#wednesday{
    text-align: center;
    background-color: white;
    color:black;
    margin: 10px 50px;
    padding: 10px;
    background-image: url(/Users/kyle/Desktop/TSI-website/images/rowbench.jpeg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center; ;
    background-size: cover ;
}

#thursday{
    text-align: center;
    background-color: white;
    color:black;
    margin: 10px 50px;
    padding: 10px;
    background-image: url(/Users/kyle/Desktop/TSI-website/images/rowbench.jpeg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center; ;
    background-size: cover ;
}

#Friday{
    text-align: center;
    background-color: white;
    color:black;
    margin: 10px 50px;
    padding: 10px;
    background-image: url(/Users/kyle/Desktop/TSI-website/images/rowbench.jpeg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center; ;
    background-size: cover ;
}

#Saturday{
    text-align: center;
    background-color: white;
    color:black;
    margin: 10px 50px;
    padding: 10px;
    background-image: url(/Users/kyle/Desktop/TSI-website/images/rowbench.jpeg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center; ;
    background-size: cover ;
}

#Sunday{
    text-align: center;
    background-color: white;
    color:black;
    margin: 10px 50px;
    padding: 10px;
    background-image: url(/Users/kyle/Desktop/TSI-website/images/rowbench.jpeg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center; ;
    background-size: cover ;
}

.Schedual{
    background-color: white;
    color: black;
    margin:50px 50px;
    padding: 80px;
}

/* TSI CLASSES */

#groupClass{
 padding-bottom: 50px;
 
}

#groupClass h1{
    text-align: center;
    font-size: 50px ;
   
}
    
#classStrong{
    color: aqua;
    background-color: #333;
    width: 32%;
    display: inline-block;
    margin: auto;
    padding-bottom: 50px;
}
#classPower{
    color: aqua;
    background-color: #333;
    width: 32%;
    display: inline-block;
    margin: auto;
    padding-bottom: 50px; 
     
}
#classBoot{
    color: aqua;
    background-color: #333;
    width: 32%;
    display: inline-block;   
    margin: auto;
    padding-bottom: 50px; 
    
}

#pt h1{
    text-align: center;
    font-size: 50px ;
    padding: 20px;
}


